

.card-custom p {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: .80rem;
  line-height: 1.2;
}

.card-custom h5 {
  font-size: .9rem;
  font-weight: bold;
}

.cart-icon {
  height: 2rem;
}

.card-img-top {
  height: 180px;
  object-fit: contain;
  width: 100%;
}

