@font-face {
  font-family: 'ADLaMDisplay';
  src: url(C:\Users\joshuaatendidobear\OneDrive\Desktop\NucampFolder\NucampFolder\WebDev\3-React\shopping-cart-project\src\assets\ADLaM_Display\ADLaMDisplay-Regular.ttf);
}

body {
  margin: 1em;
  color: #29898E;
  font-family: 'ADLaMDisplay';
}

.menu-div {
  background-color: #FFE3C4;
  text-decoration: none;
}

.menu-div a {
  padding: 0.5em;
  color: #29898E;
  font-family: 'ADLaMDisplay';
  text-decoration: none;
}

.navbar {
  color: #29898E;
  font-family: 'ADLaMDisplay';
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  gap: 1rem;
}

.navbar a {
  color: #29898E;
  text-decoration: none;
  display: inline-block;
}

.navbar-brand {
  color: #29898E;
}
